@using IdentityServer4.Extensions

@{
    string name = null;
    if (!true.Equals(ViewData["signed-out"]))
    {
        name = Context.User?.GetDisplayName();
    }
}

<div class="container body-container">
    <div class="jumbotron">
        <h1>欢迎来到 IdentityServer4 认证中心!</h1>
        <p>Welcome to the IdentityServer4 certification center!</p>

        <p>
            @if (string.IsNullOrWhiteSpace(name))
            {
                <a class="btn btn-primary btn-lg" href="/oauth2/authorize" role="button">Login</a>
            }
        </p>

    </div>
</div>
